.top-container{
    background-color: rgb(200, 223, 215);
   
}
body{
    margin: 0px;
}
h1{
margin-top: 0;
font-size: 200px;
font-family: 'Pacifico', cursive;
color: rgb(52, 145, 221);


}
p{
    font-size: 75px;
    font-family: 'Poppins', sans-serif;
}
.mountain
{
    
    height: 1000px;
    width: 3000px;
    position: relative;
    left: 900px;
}
.C1{
    height: 600px;
    width: 800px;
}
